{
  "extends": ["stylelint-config-standard"],
  "plugins": ["stylelint-order"],
  "customSyntax": "postcss-styled-syntax",
  "rules": {
    "declaration-empty-line-before": [
      "always",
      {
        "ignore": ["first-nested", "after-comment", "after-declaration", "inside-single-line-block"]
      }
    ],
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": [
      {
        "groupName": "Display",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": [
          "display",
          "flex",
          "flex-grow",
          "flex-direction",
          "justify-content",
          "align-items",
          "gap",
          "visibility",
          "overflow",
          "overflow-x",
          "overflow-y"
        ]
      },
      {
        "groupName": "Position",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": ["position", "top", "right", "bottom", "left", "z-index"]
      },
      {
        "groupName": "Box",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": [
          "width",
          "min-width",
          "max-width",
          "height",
          "min-height",
          "max-height",
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left",
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",
          "border",
          "border-radius"
        ]
      },
      {
        "groupName": "Background & Font",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": [
          "background",
          "background-color",
          "background-image",
          "background-repeat",
          "background-position",
          "opacity",
          "box-shadow",
          "color",
          "font-style",
          "font-size",
          "font-weight",
          "line-height",
          "letter-spacing",
          "text-align",
          "text-indent",
          "text-overflow",
          "vertical-align",
          "white-space",
          "word-break"
        ]
      },
      {
        "groupName": "Animation",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": ["animation", "transform", "transition"]
      },
      {
        "groupName": "Etc",
        "emptyLineBefore": "always",
        "noEmptyLineBetween": true,
        "properties": ["cursor"]
      }
    ],
    "media-query-no-invalid": null
  }
}
